<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="./../img/favicon.ico" rel="shortcut icon">

	<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./../css/reset.css">
	<link rel="stylesheet" href="./../css/style.css">
	<link rel="stylesheet" href="./../css/gallery.css">
	<script src="./../js/modernizr.js"></script>


	<title>Gorilla Logic FC</title>
</head>
<body>
	<header>
		<div id="desktop-header">
			<div class="row">
				<div class="col-md-3 text-right">
					<a href="https://gorillalogic.com/" target="_blank"><img src="./../img/gl-white.png" class="img-responsive align-vertical-img" alt="Gorilla Logic"></a>

				</div>
				<div class="col-md-6 text-center">
					<h1>Gorilla Logic FC: Camtic Tournament's</h1>
				</div>
				<div class="col-md-3 text-center">
					<a href="http://www.camtic.org/eventos/copa-intertics/" target="_blank"><img style="background:white;" src="./../img/camtic-logo-home.png" class="img-responsive align-vertical-img" alt="Camtic"></a>

				</div>
			</div>
		</div>
		<div id="mobile-header">
			<a href="https://gorillalogic.com/" target="_blank"><img src="./../img/gl-white.png" class="img-responsive align-vertical-img" alt="Gorilla Logic"></a>
		</div>

	</header>
	<ol class="breadcrumb">
			<li><a href="./../index.html">Home</a></li>
			<li class="active"><a href="match1.html">Match #1</a></li>
	</ol>
<!-- <br /> -->
<div class="container description-body">
	<dl>
  <dt class="dt-style">Match #1</dt>
  <dd>Gorilla Logic vs Grupo Asesor</dd>
		<br />
		<dt class="dt-style">Score</dt>
  <dd>11 - 1</dd>
		<br />
		<dt class="dt-style">Date</dt>
  <dd>March 4, 2017</dd>
</dl>
</div>


<section>
  <div class="container gal-container">
			<!-- Row 1 -->
    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#1">
          <img src="./../img/match1/match1_1.jpg">
        </a>
        <div class="modal fade" id="1" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match1/match1_1.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#2">
          <img src="./../img/match1/match1_2.jpg">
        </a>
        <div class="modal fade" id="2" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match1/match1_2.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Row 1 -->
<!-- Row 2 -->
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#3">
          <img src="./../img/match1/match1_3.jpg">
        </a>
        <div class="modal fade" id="3" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match1/match1_3.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#4">
          <img src="./../img/match1/match1_4.jpg">
        </a>
        <div class="modal fade" id="4" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match1/match1_4.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#5">
          <img src="./../img/match1/match1_5.jpg">
        </a>
        <div class="modal fade" id="5" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match1/match1_5.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
				<!-- Row 2 -->
				<!-- Row 3 -->
				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#6">
          <img src="./../img/match1/match1_6.jpg">
        </a>
        <div class="modal fade" id="6" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match1/match1_6.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#7">
          <img src="./../img/match1/match1_7.jpg">
        </a>
        <div class="modal fade" id="7" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match1/match1_7.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#8">
          <img src="./../img/match1/match1_8.jpg">
        </a>
        <div class="modal fade" id="8" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match1/match1_8.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
				<!-- Row 3 -->
				<!-- Row 4 -->
				<div class="col-md-4 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#9">
          <img src="./../img/match1/match1_9.jpg">
        </a>
        <div class="modal fade" id="9" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match1/match1_9.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#10">
          <img src="./../img/match1/match1_10.jpg">
        </a>
        <div class="modal fade" id="10" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match1/match1_10.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
				<!-- Row 4 -->
				<!-- Row 5 -->
				<div class="col-md-12 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#11">
          <img src="./../img/match1/match1_11.jpg">
        </a>
        <div class="modal fade" id="11" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match1/match1_11.jpg">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

				<!-- Row 5 -->

  </div>
</section>

	<footer class="footer">
   <div class="container vcenter">
     <h3 class="vcenter">Made with <i class="fa fa-heart red"></i> by <a href="https://juhunuque.github.io/" target="_blank">Julio Núñez Q</a></h3>
   </div>
 </footer>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="./../js/main.js"></script> <!-- Resource jQuery -->

</body>
</html>
