<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="./../img/favicon.ico" rel="shortcut icon">

	<meta name="description" content="Keep track of the status about the soccer team in the Camtic Tournament!"/>
	<meta name="robots" content="noodp"/>
	<link rel="canonical" href="http://soccer.gorillalogic.com/"/>
	<meta property="og:locale" content="en_US"/>
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Gorilla Logic | Soccer team"/>
	<meta property="og:description" content="Keep track of the status about the soccer team in the Camtic Tournament!"/>
	<meta property="og:url" content="http://soccer.gorillalogic.com/"/>
	<meta property="og:site_name" content="Soccer Gorilla Logic"/>

	<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./../css/reset.css">
	<link rel="stylesheet" href="./../css/style.css">
	<link rel="stylesheet" href="./../css/gallery.css">
	<script src="./../js/modernizr.js"></script>


	<title>Gorilla Logic FC</title>
</head>
<body>
	<header>
		<div id="desktop-header">
			<div class="row">
				<div class="col-md-3 text-right">
					<a href="https://gorillalogic.com/" target="_blank"><img src="./../img/gl-white.png" class="img-responsive align-vertical-img" alt="Gorilla Logic"></a>

				</div>
				<div class="col-md-6 text-center">
					<h1>Gorilla Logic FC: Camtic Tournament</h1>
				</div>
				<div class="col-md-3 text-center">
					<a href="http://www.camtic.org/eventos/copa-intertics/" target="_blank"><img style="background:white;" src="./../img/camtic-logo-home.png" class="img-responsive align-vertical-img" alt="Camtic"></a>

				</div>
			</div>
		</div>
		<div id="mobile-header">
			<a href="https://gorillalogic.com/" target="_blank"><img src="./../img/gl-white.png" class="img-responsive align-vertical-img" alt="Gorilla Logic"></a>
		</div>

	</header>
	<ol class="breadcrumb">
			<li><a href="./../index.html">Home</a></li>
			<li class="active"><a href="match3.html">Match #3</a></li>
	</ol>
<!-- <br /> -->
<div class="container description-body">
	<dl>
  <dt class="dt-style">Match #3</dt>
  <dd>Gorilla Logic vs Avantica</dd>
		<br />
		<dt class="dt-style">Score</dt>
  <dd>2 - 3</dd>
		<br />
		<dt class="dt-style">Date</dt>
  <dd>March 25th, 2017</dd>
</dl>
</div>


<section>
  <div class="container gal-container">
			<!-- Row 1 -->
    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#1">
          <img src="./../img/match3/match3_1.jpg">
        </a>
        <div class="modal fade" id="1" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match3/match3_1.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#2">
          <img src="./../img/match3/match3_2.jpg">
        </a>
        <div class="modal fade" id="2" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match3/match3_2.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Row 1 -->
<!-- Row 2 -->
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#3">
          <img src="./../img/match3/match3_3.jpg">
        </a>
        <div class="modal fade" id="3" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match3/match3_3.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#4">
          <img src="./../img/match3/match3_4.jpg">
        </a>
        <div class="modal fade" id="4" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match3/match3_4.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#5">
          <img src="./../img/match3/match3_5.jpg">
        </a>
        <div class="modal fade" id="5" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match3/match3_5.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
				<!-- Row 2 -->
				<!-- Row 3 -->
				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#6">
          <img src="./../img/match3/match3_6.jpg">
        </a>
        <div class="modal fade" id="6" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match3/match3_6.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#7">
          <img src="./../img/match3/match3_7.jpg">
        </a>
        <div class="modal fade" id="7" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match3/match3_7.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#8">
          <img src="./../img/match3/match3_11.jpg">
        </a>
        <div class="modal fade" id="8" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match3/match3_11.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
				<!-- Row 3 -->
				<!-- Row 4 -->
				<div class="col-md-4 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#9">
          <img src="./../img/match3/match3_9.jpg">
        </a>
        <div class="modal fade" id="9" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match3/match3_9.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#10">
          <img src="./../img/match3/match3_10.jpg">
        </a>
        <div class="modal fade" id="10" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match3/match3_10.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
				<!-- Row 4 -->
				<!-- Row 5 -->
				<div class="col-md-12 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#11">
          <img src="./../img/match3/match3_8.jpg">
        </a>
        <div class="modal fade" id="11" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match3/match3_8.jpg">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
				<!-- Row 5 -->
				<!-- Row 6 -->
				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#12">
          <img src="./../img/match3/match3_12.jpg">
        </a>
        <div class="modal fade" id="12" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match3/match3_12.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#13">
          <img src="./../img/match3/match3_13.jpg">
        </a>
        <div class="modal fade" id="13" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match3/match3_13.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#14">
          <img src="./../img/match3/match3_14.jpg">
        </a>
        <div class="modal fade" id="14" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <img src="./../img/match3/match3_14.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
				<!-- Row 6 -->
				<!-- Row 7 -->
				<div class="col-md-8 col-sm-12 co-xs-12 gal-item">
						<div class="box">
								<a href="#" data-toggle="modal" data-target="#15">
										<img src="./../img/match3/match3_15.jpg">
								</a>
								<div class="modal fade" id="15" tabindex="-1" role="dialog">
										<div class="modal-dialog" role="document">
												<div class="modal-content">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
														<div class="modal-body">
																<img src="./../img/match3/match3_15.jpg">
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
						<div class="box">
								<a href="#" data-toggle="modal" data-target="#16">
										<img src="./../img/match3/match3_16.jpg">
								</a>
								<div class="modal fade" id="16" tabindex="-1" role="dialog">
										<div class="modal-dialog" role="document">
												<div class="modal-content">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
														<div class="modal-body">
																<img src="./../img/match3/match3_16.jpg">
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<!-- Row 7 -->
				<!-- Row 8 -->
				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
						<div class="box">
								<a href="#" data-toggle="modal" data-target="#17">
										<img src="./../img/match3/match3_17.jpg">
								</a>
								<div class="modal fade" id="17" tabindex="-1" role="dialog">
										<div class="modal-dialog" role="document">
												<div class="modal-content">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
														<div class="modal-body">
																<img src="./../img/match3/match3_17.jpg">
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>

				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
						<div class="box">
								<a href="#" data-toggle="modal" data-target="#18">
										<img src="./../img/match3/match3_18.jpg">
								</a>
								<div class="modal fade" id="18" tabindex="-1" role="dialog">
										<div class="modal-dialog" role="document">
												<div class="modal-content">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
														<div class="modal-body">
																<img src="./../img/match3/match3_18.jpg">
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>

				<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
						<div class="box">
								<a href="#" data-toggle="modal" data-target="#19">
										<img src="./../img/match3/match3_19.jpg">
								</a>
								<div class="modal fade" id="19" tabindex="-1" role="dialog">
										<div class="modal-dialog" role="document">
												<div class="modal-content">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
														<div class="modal-body">
																<img src="./../img/match3/match3_19.jpg">
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<!-- Row 8 -->
				<!-- Row 9 -->
	    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
	      <div class="box">
	        <a href="#" data-toggle="modal" data-target="#20">
	          <img src="./../img/match3/match3_20.jpg">
	        </a>
	        <div class="modal fade" id="20" tabindex="-1" role="dialog">
	          <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	              <div class="modal-body">
	                <img src="./../img/match3/match3_20.jpg">
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
	      <div class="box">
	        <a href="#" data-toggle="modal" data-target="#21">
	          <img src="./../img/match3/match3_21.jpg">
	        </a>
	        <div class="modal fade" id="21" tabindex="-1" role="dialog">
	          <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	              <div class="modal-body">
	                <img src="./../img/match3/match3_21.jpg">
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	<!-- Row 9 -->
	<!-- Row 10 -->
	    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
	      <div class="box">
	        <a href="#" data-toggle="modal" data-target="#22">
	          <img src="./../img/match3/match3_22.jpg">
	        </a>
	        <div class="modal fade" id="22" tabindex="-1" role="dialog">
	          <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	              <div class="modal-body">
	                <img src="./../img/match3/match3_22.jpg">
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>

					<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
	      <div class="box">
	        <a href="#" data-toggle="modal" data-target="#23">
	          <img src="./../img/match3/match3_23.jpg">
	        </a>
	        <div class="modal fade" id="23" tabindex="-1" role="dialog">
	          <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	              <div class="modal-body">
	                <img src="./../img/match3/match3_23.jpg">
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>

					<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
	      <div class="box">
	        <a href="#" data-toggle="modal" data-target="#24">
	          <img src="./../img/match3/match3_24.jpg">
	        </a>
	        <div class="modal fade" id="24" tabindex="-1" role="dialog">
	          <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	              <div class="modal-body">
	                <img src="./../img/match3/match3_24.jpg">
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
					<!-- Row 10 -->
					<!-- Row 11 -->
					<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
	      <div class="box">
	        <a href="#" data-toggle="modal" data-target="#25">
	          <img src="./../img/match3/match3_25.jpg">
	        </a>
	        <div class="modal fade" id="25" tabindex="-1" role="dialog">
	          <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	              <div class="modal-body">
	                <img src="./../img/match3/match3_25.jpg">
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>

					<div class="col-md-4 col-sm-6 co-xs-12 gal-item">
	      <div class="box">
	        <a href="#" data-toggle="modal" data-target="#26">
	          <img src="./../img/match3/match3_26.jpg">
	        </a>
	        <div class="modal fade" id="26" tabindex="-1" role="dialog">
	          <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	              <div class="modal-body">
	                <img src="./../img/match3/match3_26.jpg">
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>

					<!-- Row 11 -->


  </div>
</section>

	<footer class="footer">
   <div class="container vcenter">
     <h3 class="vcenter">Made with <i class="fa fa-heart red"></i> by <a href="https://juhunuque.github.io/" target="_blank">Julio Núñez Q</a></h3>
   </div>
 </footer>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="./../js/main.js"></script> <!-- Resource jQuery -->

</body>
</html>
